---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/solarized-dark",
  "minima";

.site-title::before {
    background-image: url({{ site.baseurl }}/assets/img/yinyang-horizontal-smile-icon.png);
    content: "";
    display: inline-block;
    position: relative;
    width: 32px;
    top: 7px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

/**
 * Post List Table (home page blog roll)
 */
.list-table {
  vertical-align: top;
  margin-bottom: 0;
  width: 100%;
  border-collapse: collapse;
  border: 0!important;
}

/**
 * Post List Image Table Cell
 */
.list-table-image-cell {
  width: 83px;
  vertical-align: top;
  padding-right: 8px;
}

/**
 * Link to original story paragraph
 */
.story-link {
  text-align: center;
}

/**
 * Postscript, for updates after publishing
 */
.post-script {
  font-style: italic;
}

/**
 * List Items for Seven Habits-type ordered lists
 */
.h4 {
  counter-increment: .h4;
  display: list-item;
}

.h4::marker {
  display: list-item;
  content: "#" counter(.h4) " ";
  color: lightgreen;
}

.body {
  counter-reset: .h4;
}
